<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, excepturi.</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi non, soluta maxime beatae ipsum modi fugit fuga obcaecati voluptas earum?</p>
            <a class="link-arrow" href="#">Learn More</a>
        </div>
        <picture><img class="feature__image" src="Images/easy.jpg" alt="Easy Graph"></picture>
    </article>
</section>
<section class="block container">
    <article class="grid grid--1x2 feature">
        <div>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi non, soluta maxime beatae ipsum modi fugit fuga obcaecati voluptas earum?</p>
            <a class="link-arrow" href="#">Learn More</a>
        </div>
        <picture><img class="feature__image" src="Images/fast.jpg" alt="Fast Graph"></picture>
    </article>
</section>